AddressFamily                   any
AllowGroups                     ssh-user
AuthenticationMethods           publickey
AllowTcpForwarding              yes
Banner                          none
ChallengeResponseAuthentication no
Ciphers                         chacha20-poly1305@openssh.com,aes256-gcm@openssh.com,aes128-gcm@openssh.com,aes256-ctr
DebianBanner                    no
GatewayPorts                    clientspecified
GSSAPIAuthentication            no
#GSSAPIKeyExchange               no
#GSSAPICleanupCredentials        yes
HostbasedAuthentication         no
HostKeyAlgorithms               ssh-ed25519,ssh-rsa
IgnoreRhosts                    yes
KerberosAuthentication          no
KexAlgorithms                   curve25519-sha256@libssh.org,diffie-hellman-group18-sha512,diffie-hellman-group16-sha512,diffie-hellman-group14-sha256
LoginGraceTime                  30
LogLevel                        INFO
MACs                            hmac-sha2-512-etm@openssh.com,hmac-sha2-256-etm@openssh.com,umac-128-etm@openssh.com
MaxAuthTries                    3
MaxSessions                     50
PasswordAuthentication          no
PermitEmptyPasswords            no
PermitRootLogin                 no
PermitTunnel                    yes
PrintLastLog                    yes
PrintMotd                       yes
#Protocol                        2
PubkeyAuthentication            yes
#StrictModes                     yes
#TCPKeepAlive                    yes
UsePAM                          no
#UsePrivilegeSeparation          yes
VersionAddendum                 none
X11Forwarding                   no
